#subDiv {
    position: relative;
    top: 1000px;
}

.Station {
    width: 500px;
    height: 600px;
    display: inline-block;
    position: absolute;
    background-color: blanchedalmond;
}

xml {
    display: none;
}

#workspaceA,
#workspaceB {
    left: 25%;
}

#prespace {
    left: 950px;
}

#optionBox {
    margin-left: 950px;
}

.controlBox {
    display: table;
    width: 18%;
    height: auto;
    position: absolute;
    background-color: rgb(240, 239, 239);
    text-align: center;
    margin-left: 2%;
    padding-bottom: 20px;
}

table {
    margin: auto;
}

tr {
    display: table-row;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

td {
    display: table-cell;
    padding: 5px 19px;
}

#bench {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border: 1px solid darkgray;
}

.text {
    position: relative;
    width: 98%;
    height: 250px;
}

.mainCategory {
    background-color: darkgray;
}

.normalCategory {
    background-color: lightgray;
}